# AI
.claude/
CLAUDE.md
AGENTS.md

# Binary
release/lazymcp

# Website
www/node_modules/
www/docs/dist/

tmp/

# Random stuff
*.code-workspace
.DS_Store

# Environment variables
.env

# Nix specific files
.direnv/
